In [103]:
import pandas as pds
import json 
import math as mt
import os
#df_raw_data = pds.read_csv(r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\part-00000-3e003a3a-c205-4bdd-b203-7bb4eb36b325-c000.csv')
#df_raw_data = pds.read_csv(r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\part-00000-ef446fd3-e48a-447e-899b-da28ca55d6fc-c000.csv')
#dfa_template = pds.read_csv(r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\asc_json_mapper_template_23082022.csv')

In [104]:
model_type = ""
model_type_template_path = ""
model_type_raw_data_path =""

In [174]:
def get_template_path_by_model_type(model_type):
    if model_type == "uc1m1" :
        model_type_template_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\uc1m1_asc_json_meta_template.csv'
    elif model_type == "uc1m2" :
        model_type_template_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\uc1m2_asc_json_meta_template.csv'
    elif model_type == "uc1m3" :
        model_type_template_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\uc1m3_asc_json_meta_template.csv'
    elif model_type == "uc2m1" :
        model_type_template_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\uc2m1_asc_json_meta_template.csv'
    elif model_type == "uc2m3" :
        model_type_template_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\uc1m3_asc_json_meta_template.csv'
    else :
        model_type_template_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\asc_json_mapper_template_23082022.csv'
    return model_type_template_path

In [175]:
def get_raw_data_path_by_model_type(model_type):
    if model_type == "uc1m1" :
        model_type_raw_data_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\part-00000-ef446fd3-e48a-447e-899b-da28ca55d6fc-c000.csv'

    elif model_type == "uc1m2" :
        model_type_raw_data_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\u01m02_raw_data.csv'

    elif model_type == "uc1m3" :
        model_type_raw_data_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\u01m03_raw_data.csv'

    elif model_type == "uc2m1" :
        model_type_raw_data_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\u02m01_raw_data.csv'

    elif model_type == "uc2m3" :
        model_type_raw_data_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\u02m03_raw_data.csv'
    else :
        model_type_raw_data_path = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\part-00000-ef446fd3-e48a-447e-899b-da28ca55d6fc-c000.csv'
    return model_type_raw_data_path

In [229]:
#model_type = @model_type
model_type = "uc1m1"
#customer_code = @client_customercode
customer_code = "feomall"
#----------------------------[ Set input path by model type ]-------------------------------------------
model_type_template_path = get_template_path_by_model_type(model_type)
model_type_raw_data_path = get_raw_data_path_by_model_type(model_type)
#----------------------------[ Get template & data set by path ]----------------------------------------
df_raw_data = pds.read_csv(model_type_raw_data_path)
dfa_template = pds.read_csv(model_type_template_path)
#----------------------------[ Get sort&sequence standard ]---------------------------------------------
dfa_sort_value_standard = pds.read_csv(r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\ascentis_std_mapping.csv')
dfa_card_tier_sort = pds.read_csv(r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\crm_raw_membershiptypetier_202208291357.csv') 
dfa_rfm_segment = pds.read_csv(r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\dim_rfm_202208291411.csv')

In [230]:
dict_row_value = {}
dict_value_data = {}
dict_row_group = {}
dict_json_row = {}

In [231]:
#for col in dfa_template.columns:
#    print(col)
#    dict_list_temp[col]= dfa_template[col].tolist()

In [232]:
#dfa_template

In [233]:
md = "uc1m3"
pt = r'C:\Users\Chawanwit\Desktop\doc\bucket\ascentis\"'
model_th = md+'_ads_asc_json_meta_template.csv'




path= 'C:/Users/Chawanwit/Desktop/doc/bucket/ascentis/'
aaa = os.path.join(path, model_th).replace("\\","/")

print(aaa)

C:/Users/Chawanwit/Desktop/doc/bucket/ascentis/uc1m3_ads_asc_json_meta_template.csv

In [234]:
model_th

'uc1m3_ads_asc_json_meta_template.csv'

In [235]:
#print("Value of row 1")
#display(dfa_template.iloc[1])

In [236]:
#len(dfa_template)

In [237]:
#for template_row in range(len(dfa_template)):
#    print(template_row)

In [238]:
#exclude = ["member_notify"]
#include = ["nan"]

In [239]:
#for exclude_row in dfa_template["group"] if exclude_row not in exclude :
 #   print(exclude_row)
    
#filtered=[exclude_row for exclude_row in dfa_template["group"] if exclude_row == "member_notify"]

In [240]:
#filtered

In [241]:
#for exclude_row in dfa_template["group"]:
#    if exclude_row == "member_notify":
 #       print(exclude_row)

In [242]:
dict_fields = {} #--- feilds in space 1 
dict_json_row = {}

In [243]:
#verify data group
def verify_group(dict_row):
    dict_row_group = dict_row["group"] 
    return dict_row_group

In [244]:
#get row feature
def get_row_feature(dict_row):
    dict_row_feature = dict_row["feature"]
    return dict_row_feature

In [245]:
#verify data type
def verify_data_type(dict_row):
    dict_row_data_type = dict_row["data_type"]
    #---- verify special data type
    return dict_row_data_type

In [246]:
#get row selection
def get_row_selection(dict_row):
    dict_row_selection = dict_row["selection"]
    return dict_row_selection

In [247]:
#get row name
def get_name(dict_row):
    dict_row_name = dict_row["name"]
    #---- verify special data type
    if pds.isna(dict_row_name):
        dict_row_name = ""
    return dict_row_name

In [248]:
#get row description
def get_row_description(dict_row):
    dict_row_description = dict_row["description"]
    if pds.isna(dict_row_description):
        dict_row_description = ""
    return dict_row_description

In [249]:
#get row aggregatable
def get_row_aggregatable(dict_row):
    dict_row_aggregatable = dict_row["aggregatable"]
    if pds.isna(dict_row_aggregatable):
        dict_row_aggregatable = ""
    return dict_row_aggregatable

In [250]:
#set json row [ { "feature" : set_fields_convert_data  }]
def set_row_to_json(dict_row):
    data_type  = verify_data_type(dict_row)
    dict_row_group = verify_group(dict_row)
    if pds.isna(dict_row_group):
        dict_json_row[dict_row["feature"]] = set_fields_convert_data(dict_row)

In [251]:
def join_column_name(column_name):
    split_column_name = column_name.split("_")
    column_name = ("").join(split_column_name)
    return column_name

In [252]:
#----- set info to categorical
def set_info_categorical_type(categorical_row):
    categorical_result = {}
    categorical_name = get_name(categorical_row)
    categorical_value = get_row_feature(categorical_row)
    categorical_result["name"] = categorical_name
    categorical_result["value"] = categorical_value
    return categorical_result

In [253]:
domain_type_list = dfa_sort_value_standard["domain"].unique()

In [254]:
rfm_segment_value_list = dfa_rfm_segment["rfmsegment"].unique()

In [255]:
def sorted_source_unique_mapper(source_column_name):
    source_unique_values = []
    categorical_result_list =[]
    source_unique_values = sorted(df_raw_data[source_column_name].unique())
    if len(source_unique_values) > 0:
        for unique_values in source_unique_values:
            categorical_result = {}
            categorical_result["name"] = unique_values
            categorical_result["value"] = unique_values
            categorical_result_list.append(categorical_result)
    return categorical_result_list

In [256]:
#----- get uniqueue std_value sort by order
def sorted_domain_unique_mapper(source_column_name):
    categorical_result_list = []
    domain_values = []
    source_domain_column_name = join_column_name(source_column_name)
    for sort_type in domain_type_list:
        if sort_type in source_domain_column_name :
            #domain_list = dfa_sort_value_standard.loc[dfa_sort_value_standard["domain"]==sort_type]
            domain_list = dfa_sort_value_standard.loc[dfa_sort_value_standard["domain"]==sort_type].drop_duplicates(subset='std_values').sort_values(by=['std_order'])
            for row_index in domain_list.index :
                #print(domain_list["std_name"].notna(),"type - ",type(domain_list["std_name"].notna()),"-",row_index)
                categorical_result = {}
                if str(domain_list["std_name"][row_index]) != "nan" :
                    categorical_result["name"] = str(domain_list["std_values"][row_index])
                    categorical_result["value"] = str(domain_list["std_name"][row_index])
                else:
                    categorical_result["name"] = str(domain_list["std_values"][row_index])
                    categorical_result["value"] = str(domain_list["std_values"][row_index])
                categorical_result_list.append(categorical_result)
            #---- if [std_value] have value return value in [std_value]
            #domain_values = domain_list.drop_duplicates(subset = ["std_values"]).sort_values(by=['std_order'])["std_values"]
            
            
    return categorical_result_list

In [364]:
def get_sorted_unique(source_column_name):
   # print("[sort-unique]-",source_column_name)
    source_unique_values = []
    source_unique_values = sorted_domain_unique_mapper(source_column_name)
    #print("[sort-unique] len -",len(source_unique_values))
    if len(source_unique_values) <= 0:
        #print("[sort-unique]-",source_column_name)
        source_unique_values = sorted_source_unique_mapper(source_column_name)
    return source_unique_values

In [258]:
def get_categorical_value_from_source(categorical_name):
    categorical_result_list = []
    source_column_list = df_raw_data.columns.tolist() #------- column from raw data
    join_categorical_name = join_column_name(categorical_name) 
  
    for source_column_name in source_column_list:
        source_join_column_name = join_column_name(source_column_name)
        if join_categorical_name in source_join_column_name:
            if join_categorical_name == source_join_column_name:
                print("[sort]-",source_column_name)
                #source_unique_values = sorted(df_raw_data[source_column_name].unique())
                source_unique_values = get_sorted_unique(source_column_name)
                if len(source_unique_values) > 0:
                    categorical_result_list = source_unique_values
                    #for source_unique in source_unique_values:
                    #    categorical_result = {}
                    #    categorical_result["name"] = str(source_unique)
                    #    categorical_result["value"] = str(source_unique)
                    #    categorical_result_list.append(categorical_result)
                break
            elif join_categorical_name != source_join_column_name:
                #----------------------------------
                categorical_result = {}
                categorical_result["name"] = str(source_column_name)
                categorical_result["value"] = str(source_column_name)
                categorical_result_list.append(categorical_result)

    return categorical_result_list

In [259]:
#----- set info to group
def set_info_group_type(group_row):
    group_name = get_name(group_row)
    group_feature = get_row_feature(group_row)
    group_value_data_type = verify_data_type(group_row)
    group_result_index["name"] = grp_name
    group_result_index["data_type"] = group_value_data_type   
    dict_group_row_value[group_feature] = group_result_index
    return ""

In [260]:
#---- value will set when data type is categorical
def set_categorical_values(dict_row):
    data_categorical_row_group = verify_group(dict_row)
    data_categorical_row_type = verify_data_type(dict_row)
    data_categorical_row_feature = get_row_feature(dict_row)
    dict_categorical_row_values = []
    #print("[categorical] data type : ",data_type," - ",data_feature , " - " ,data_group)
    #----- verify categorical type---
    if data_categorical_row_type == "categorical":
        #-------------------------------- get category from dfa_template loc 
        categorical_row_list = dfa_template.loc[dfa_template["group"]==data_categorical_row_feature] #--- get group value from column group
        if len(categorical_row_list) > 0 :
            for categorical_row_index in range(len(categorical_row_list)):
                categorical_row = categorical_row_list.iloc[categorical_row_index]
                dict_categorical_row_values.append(set_info_categorical_type(categorical_row))      
        else :
            #------ when data type categorical but empty value
            dict_categorical_row_values = get_categorical_value_from_source(data_categorical_row_feature)
    else :
        dict_categorical_row_values = []
    return dict_categorical_row_values

In [261]:
#---- fields will set when data type is group
def set_group_fields(dict_row):
    data_group_row_feature = get_row_feature(dict_row)
    data_group_row_group = verify_group(dict_row)
    data_group_row_type = verify_data_type(dict_row)
    dict_group_fields_values = {}
    #print("[group] data type : ",data_type," - ",data_feature , " - " ,data_row_group )
    if data_group_row_type == "group":
        #print("detect group type - ",data_row_group)
        #------------- get loc from dfa_template
        group_row_list = dfa_template.loc[dfa_template["group"]==data_group_row_feature]
        if len(group_row_list) > 0 :
            #dict_group_fields = {}
            for group_row_index in range(len(group_row_list)):
                group_result_index = {}
                #--------------------------
                group_row = group_row_list.iloc[group_row_index]
                #--------------------------
                group_name = get_name(group_row)
                group_value = get_row_feature(group_row)
                group_value_data_type = verify_data_type(group_row)
                #--------------------------
                group_result_index["name"] = group_name
                group_result_index["data_type"] = group_value_data_type
                #-------------------------- 
                dict_group_fields_values[group_value] = group_result_index
        else : 
            #------ when data type group but empty value
            dict_group_fields_values = {}
                
                
        
    else :
        dict_group_fields_values = {}
    #----- find by name like
    return dict_group_fields_values

In [262]:
def set_float_min(source_float_column_name):
    dict_float_min_value = 0
    source_column_list = df_raw_data.columns.tolist()
    if source_float_column_name in source_column_list:
        #------ get direct unique value
        source_min_values = df_raw_data[source_float_column_name].min()
        dict_float_min_value = float(source_min_values)
    else:
        dict_float_min_value = float(0)
    
    return dict_float_min_value

In [263]:
def set_float_max(source_float_column_name):
    dict_float_max_value = 0
    source_column_list = df_raw_data.columns.tolist()
    if source_float_column_name in source_column_list:
        #------ get direct unique value
        source_max_values = df_raw_data[source_float_column_name].max()
        dict_float_max_value = float(source_max_values)
    else:
        dict_float_max_value = float(0)
    return dict_float_max_value

In [264]:
#----- detect data type and add fields
def set_fields_by_data_type(dict_row,dict_row_value):
    data_type = verify_data_type(dict_row)
    row_group = verify_group(dict_row)
    data_feature = get_row_feature(dict_row)
    dict_row_value_verify_type = {}
    if  data_type == "string":
        dict_row_value["aggregatable"] = get_row_aggregatable(dict_row)
    elif data_type == "categorical":
        dict_row_value["selection"] = get_row_selection(dict_row)
        dict_row_value["values"] = set_categorical_values(dict_row)
    elif data_type == "group":
        dict_row_value["fields"]= set_group_fields(dict_row)
    elif data_type == "float":
        dict_row_value["max_value"] = set_float_max(data_feature) #------------ get max from other source value
        dict_row_value["min_value"] = set_float_min(data_feature) #------------ get min from other source value
    
    return dict_row_value

In [265]:
def set_fields_convert_data1(dict_row):
    dict_row_value = {}
    dict_row_value = {
    #---------- Default value ---------------
    "name":get_name(dict_row),
    "description":get_row_description(dict_row),
    "data_type":verify_data_type(dict_row),
    #---------- data type string -------------    
    "aggregatable":get_row_aggregatable(dict_row),
    #-----------data type categorical -----------------    
    "selection":get_row_selection(dict_row),
    "values":set_categorical_values(dict_row), #------ value set when data_type is categorical
    #----------- Type float ------------------ 
    "max_value":1,
    "min_value":0,
    #----------- data type group -----------------
    "fields":set_group_fields(dict_row) #---- special case with transact
}
    #dict_row_value.update(set_fields_by_data_type(dict_row,dict_row_value))
    return dict_row_value

In [266]:
def set_fields_convert_data(dict_row):
    dict_row_value = {}
    dict_row_value = {
    #---------- Default value ---------------
    "name":get_name(dict_row),
    "description":get_row_description(dict_row),
    "data_type":verify_data_type(dict_row),
    }
    dict_row_value.update(set_fields_by_data_type(dict_row,dict_row_value))
    return dict_row_value

In [267]:
test_dict = {}
test_dict = {"a":"a1"}

In [268]:
test_dict

{'a': 'a1'}

In [269]:
def set_type(data_type):
    dict_row_test = {}
    if  data_type == "string":
        dict_row_test["b"] = "b1"
    elif data_type == "categorical":
        dict_row_test["c"] = "c1"  
    return dict_row_test

In [270]:
test_dict.update(set_type("categorical"))

In [271]:
test_dict

{'a': 'a1', 'c': 'c1'}

In [272]:
dict_rowtest = dfa_template.loc[1]

In [273]:
dict_row_group = verify_group(dict_rowtest)

In [274]:
dict_row_group

nan

In [275]:
if mt.isnan(dict_row_group):
    print("detect nan")
else:
    print("------")

detect nan

In [276]:
def set_row_data(row_index):
    dict_row = dfa_template.iloc[row_index] #---- get iloc row
    #____________________________________________________
    dict_row_group = verify_group(dict_row) #---- group
    dict_row_feature = get_row_feature(dict_row) #---- feature
    dict_row_data_type = verify_data_type(dict_row) #---- data_type
    dict_row_selection = get_row_selection(dict_row) #---- selection
    dict_row_name = get_name(dict_row) #---- name 
    dict_row_description = get_row_description(dict_row) #---- description
    dict_row_aggregatable = get_row_description(dict_row) #---- aggregatable
    #print(dict_row["feature"],dict_row["description"])
    set_row_to_json(dict_row)
    #print(dict_row_group, dict_row_feature , dict_row_data_type , dict_row_selection , dict_row_name , dict_row_description , dict_row_description , dict_row_aggregatable  )    
    return dict_row

In [277]:
for data_row in range(len(dfa_template)):
    
    set_row_data(data_row)

[sort]- member_gender
[sort-unique]- member_gender
[sort-unique] len - 3
[sort]- member_maritalstatus
[sort-unique]- member_maritalstatus
[sort-unique] len - 3
[sort]- recency_group
[sort-unique]- recency_group
[sort-unique] len - 8
[sort]- age_group
[sort-unique]- age_group
[sort-unique] len - 7
[sort]- tenure_years_group
[sort-unique]- tenure_years_group
[sort-unique] len - 0
[sort-unique]- tenure_years_group
[sort]- rfm_frequency_score
[sort-unique]- rfm_frequency_score
[sort-unique] len - 0
[sort-unique]- rfm_frequency_score
[sort]- rfm_monetary_score
[sort-unique]- rfm_monetary_score
[sort-unique] len - 0
[sort-unique]- rfm_monetary_score
[sort]- rfm_recency_score
[sort-unique]- rfm_recency_score
[sort-unique] len - 0
[sort-unique]- rfm_recency_score
[sort]- rfm_segment
[sort-unique]- rfm_segment
[sort-unique] len - 0
[sort-unique]- rfm_segment

In [278]:
def json_meta_data_result(model_type):
    #----- Json 1 space tab [model,client,fields]
    json_data_first_space = {
        "model": model_type,
        "client": "@client_customercode",
        "fields": dict_json_row
    }
    return json_data_first_space

In [279]:
json_meta_data_result(model_type)

{'model': 'uc1m1',
 'client': '@client_customercode',
 'fields': {'blastrecipient_member_id': {'name': 'Member ID',
   'description': '',
   'data_type': 'string',
   'aggregatable': True},
  'output_email': {'name': 'Respond to email',
   'description': 'Is this member likely to respond to the email campaign?',
   'data_type': 'boolean'},
  'output_sms': {'name': 'Respond to sms',
   'description': 'Is this member likely to respond to the SMS campaign?',
   'data_type': 'boolean'},
  'is_blast_on_weekday': {'name': 'Blast on weekday?',
   'description': 'Is this predicted blast on a weekday?',
   'data_type': 'boolean'},
  'is_blast_on_weekend': {'name': 'Blast on weekends?',
   'description': 'Is this predicted blast on a weekend?',
   'data_type': 'boolean'},
  'blast_on_day_of_week': {'name': 'Day of week',
   'description': 'Day of week of the predicted blast',
   'data_type': 'integer'},
  'blast_on_month_of_year': {'name': 'Month of year',
   'description': 'Month of year of the predicted blast',
   'data_type': 'integer'},
  'blast_on_day_of_month': {'name': 'Day of month',
   'description': 'Day of month of the predicted blast',
   'data_type': 'integer'},
  'member_gender': {'name': 'Member Gender',
   'description': '',
   'data_type': 'categorical',
   'selection': 'single',
   'values': [{'name': 'female', 'value': 'female'},
    {'name': 'male', 'value': 'male'},
    {'name': 'others', 'value': 'others'}]},
  'card_tier': {'name': 'Membership Tier',
   'description': '',
   'data_type': 'categorical',
   'selection': 'multiple',
   'values': [{'name': 'card_tier_Shopper', 'value': 'card_tier_Shopper'},
    {'name': 'card_tier_Member', 'value': 'card_tier_Member'}]},
  'member_notify': {'name': 'Member Communications',
   'description': 'Members notification methods',
   'data_type': 'categorical',
   'selection': 'multiple',
   'values': [{'name': 'Is member subscribed to email communications',
     'value': 'member_sender_issubscribed'},
    {'name': 'Is member subscribed to SMS communications',
     'value': 'member_notifysms'},
    {'name': 'Is member subscribed to PNS communications',
     'value': 'member_pns_devices_pushalert'}]},
  'member_marital_status': {'name': 'Marital Status',
   'description': '',
   'data_type': 'categorical',
   'selection': 'single',
   'values': [{'name': 'single', 'value': 'single'},
    {'name': 'married', 'value': 'married'},
    {'name': 'others', 'value': 'others'}]},
  'recency': {'name': 'Recency(days)',
   'description': 'The number of days since last purchase',
   'data_type': 'integer'},
  'recency_group': {'name': 'Recency group',
   'description': '',
   'data_type': 'categorical',
   'selection': 'single',
   'values': [{'name': 'last 1 week(s)', 'value': 'last 1 week(s)'},
    {'name': 'last 2 week(s)', 'value': 'last 2 week(s)'},
    {'name': 'last 1 month(s)', 'value': 'last 1 month(s)'},
    {'name': 'last 3 month(s)', 'value': 'last 3 month(s)'},
    {'name': 'last 6 month(s)', 'value': 'last 6 month(s)'},
    {'name': 'last 6 -12 month(s)', 'value': 'last 6 -12 month(s)'},
    {'name': '> 12 month(s)', 'value': '> 12 month(s)'},
    {'name': 'others', 'value': 'others'}]},
  'age': {'name': 'Member age(years)',
   'description': 'Member age in years. If age = 0, means membership age is unknown.',
   'data_type': 'integer'},
  'age_group': {'name': 'Member age group',
   'description': '',
   'data_type': 'categorical',
   'selection': 'single',
   'values': [{'name': '< 20', 'value': 'less_than_20'},
    {'name': '20 - 35', 'value': '20_to_35'},
    {'name': '36 - 49', 'value': '36_to_49'},
    {'name': '50 - 65', 'value': '50_to_65'},
    {'name': '65 - 100', 'value': '65_to_100'},
    {'name': '100+', 'value': 'more_than_100'},
    {'name': 'others', 'value': 'others'}]},
  'tenure_days': {'name': 'Membership tenure(days)',
   'description': 'No of days since member joined',
   'data_type': 'integer'},
  'tenure_years': {'name': 'Membership tenure(years)',
   'description': 'No of years since member joined',
   'data_type': 'integer'},
  'tenure_years_group': {'name': 'Membership tenure group',
   'description': '',
   'data_type': 'categorical',
   'selection': 'single',
   'values': [{'name': '1 year(s) or less', 'value': '1 year(s) or less'},
    {'name': '2 year(s)', 'value': '2 year(s)'},
    {'name': '3 year(s)', 'value': '3 year(s)'},
    {'name': '4 year(s)', 'value': '4 year(s)'},
    {'name': '5 year(s)', 'value': '5 year(s)'},
    {'name': '6 year(s) or more', 'value': '6 year(s) or more'}]},
  'no_of_vouchers_issued': {'name': 'Number of vouchers issued to member',
   'description': '',
   'data_type': 'integer'},
  'no_of_vouchers_utilized': {'name': 'Number of vouchers utilized by member',
   'description': '',
   'data_type': 'integer'},
  'perc_of_vouchers_utilized': {'name': 'Percentage of voucher utilized by members',
   'description': '',
   'data_type': 'float',
   'max_value': 3.1,
   'min_value': 0.0},
  'voucher_value_issued_last': {'name': 'Vouchers value issued',
   'description': '',
   'data_type': 'group',
   'fields': {'voucher_value_issued_last_7_days': {'name': 'Vouchers value issued past 7 days',
     'data_type': 'money'},
    'voucher_value_issued_last_30_days': {'name': 'Vouchers value issued past 30 days',
     'data_type': 'money'},
    'voucher_value_issued_last_90_days': {'name': 'Vouchers value issued past 90 days',
     'data_type': 'money'},
    'voucher_value_issued_last_180_days': {'name': 'Vouchers value issued past 180 days',
     'data_type': 'money'},
    'voucher_value_issued_last_270_days': {'name': 'Vouchers value issued past 270 days',
     'data_type': 'money'},
    'voucher_value_issued_last_360_days': {'name': 'Vouchers value issued past 360 days',
     'data_type': 'money'}}},
  'voucher_value_utilized_last': {'name': 'Voucher value utilized',
   'description': '',
   'data_type': 'group',
   'fields': {'voucher_value_utilized_last_7_days': {'name': 'Vouchers value utilized past 7 days',
     'data_type': 'money'},
    'voucher_value_utilized_last_30_days': {'name': 'Vouchers value utilized past 30 days',
     'data_type': 'money'},
    'voucher_value_utilized_last_90_days': {'name': 'Vouchers value utilized past 90 days',
     'data_type': 'money'},
    'voucher_value_utilized_last_180_days': {'name': 'Vouchers value utilized past 180 days',
     'data_type': 'money'},
    'voucher_value_utilized_last_270_days': {'name': 'Vouchers value utilized past 270 days',
     'data_type': 'money'},
    'voucher_value_utilized_last_360_days': {'name': 'Vouchers value utilized past 360 days',
     'data_type': 'money'}}},
  'no_of_transact_past': {'name': 'Number of transactions',
   'description': '',
   'data_type': 'group',
   'fields': {'no_of_transact_past_7_days': {'name': 'Number of transactions past 7 days',
     'data_type': 'integer'},
    'no_of_transact_past_30_days': {'name': 'Number of transactions past 30 days',
     'data_type': 'integer'},
    'no_of_transact_past_90_days': {'name': 'Number of transactions past 90 days',
     'data_type': 'integer'},
    'no_of_transact_past_180_days': {'name': 'Number of transactions past 180 days',
     'data_type': 'integer'},
    'no_of_transact_past_270_days': {'name': 'Number of transactions past 270 days',
     'data_type': 'integer'},
    'no_of_transact_past_360_days': {'name': 'Number of transactions past 360 days',
     'data_type': 'integer'}}},
  'transact_nettspent_past': {'name': 'Nett Spent',
   'description': '',
   'data_type': 'group',
   'fields': {'transact_nettspent_past_7_days': {'name': 'Nett Spent past 7 days',
     'data_type': 'money'},
    'transact_nettspent_past_30_days': {'name': 'Nett Spent past 30 days',
     'data_type': 'money'},
    'transact_nettspent_past_90_days': {'name': 'Nett Spent past 90 days',
     'data_type': 'money'},
    'transact_nettspent_past_180_days': {'name': 'Nett Spent past 180 days',
     'data_type': 'money'},
    'transact_nettspent_past_270_days': {'name': 'Nett Spent past 270 days',
     'data_type': 'money'},
    'transact_nettspent_past_360_days': {'name': 'Nett Spent past 360 days',
     'data_type': 'money'}}},
  'transact_transactpoints_past': {'name': 'Transaction points',
   'description': '',
   'data_type': 'group',
   'fields': {'transact_transactpoints_past_7_days': {'name': 'Transaction points past 7 days',
     'data_type': 'integer'},
    'transact_transactpoints_past_30_days': {'name': 'Transaction points past 30 days',
     'data_type': 'integer'},
    'transact_transactpoints_past_90_days': {'name': 'Transaction points past 90 days',
     'data_type': 'integer'},
    'transact_transactpoints_past_180_days': {'name': 'Transaction points past 180 days',
     'data_type': 'integer'},
    'transact_transactpoints_past_270_days': {'name': 'Transaction points past 270 days',
     'data_type': 'integer'},
    'transact_transactpoints_past_360_days': {'name': 'Transaction points past 360 days',
     'data_type': 'integer'}}},
  'no_of_vouchers_issued_by_campaign': {'name': 'Number of vouchers issued by campaign',
   'description': '',
   'data_type': 'integer'},
  'no_of_vouchers_issued_by_campaign_and_utilized': {'name': 'Number of vouchers issued by campaign and utilized',
   'description': '',
   'data_type': 'integer'},
  'no_of_past_campaign_hits': {'name': 'Number of past campaign hits',
   'description': '',
   'data_type': 'integer'},
  'member_most_freq_outlet': {'name': 'Member most frequent outlet',
   'description': '',
   'data_type': 'string',
   'aggregatable': ''},
  'no_of_unique_visited_outlets': {'name': 'Number of uniquely visited outlet',
   'description': '',
   'data_type': 'integer'},
  'no_of_blasts_sent': {'name': 'Number of blast sent',
   'description': 'Number of email blasts(not campaign) received in the past, at member level',
   'data_type': 'integer'},
  'no_of_blasts_read': {'name': 'Number of blast read',
   'description': 'Number of email blasts(not campaign) read in the past, at member level',
   'data_type': 'integer'},
  'interest_group': {'name': 'Member interest group',
   'description': '',
   'data_type': 'categorical',
   'selection': 'multiple',
   'values': [{'name': 'interest_group_code_Dancing',
     'value': 'interest_group_code_Dancing'},
    {'name': 'interest_group_code_Shopping',
     'value': 'interest_group_code_Shopping'}]},
  'campaignqualifiedlog_transact_autoid': {'name': 'Number of past campaign hits',
   'description': '',
   'data_type': 'group',
   'fields': {'campaignqualifiedlog_transact_autoid_past_7_days': {'name': 'Number of past campaign hits past 7 days',
     'data_type': 'integer'},
    'campaignqualifiedlog_transact_autoid_past_30_days': {'name': 'Number of past campaign hits past 30 days',
     'data_type': 'integer'},
    'campaignqualifiedlog_transact_autoid_past_90_days': {'name': 'Number of past campaign hits past 90 days',
     'data_type': 'integer'},
    'campaignqualifiedlog_transact_autoid_past_180_days': {'name': 'Number of past campaign hits past 180 days',
     'data_type': 'integer'},
    'campaignqualifiedlog_transact_autoid_past_270_days': {'name': 'Number of past campaign hits past 270 days',
     'data_type': 'integer'},
    'campaignqualifiedlog_transact_autoid_past_360_days': {'name': 'Number of past campaign hits past 360 days',
     'data_type': 'integer'}}},
  'rfm_frequency': {'name': 'RFM Raw frequency value',
   'description': 'Raw frequency value before binning',
   'data_type': 'integer'},
  'rfm_frequency_score': {'name': 'RFM Frequency Score',
   'description': 'Frequency score of RFM for the latest period',
   'data_type': 'categorical',
   'selection': 'single',
   'values': [{'name': 0, 'value': 0},
    {'name': 1, 'value': 1},
    {'name': 2, 'value': 2},
    {'name': 3, 'value': 3},
    {'name': 4, 'value': 4},
    {'name': 5, 'value': 5},
    {'name': 6, 'value': 6}]},
  'rfm_monetary': {'name': 'RFM Raw monetary value',
   'description': 'Raw monetary value before binning',
   'data_type': 'integer'},
  'rfm_monetary_score': {'name': 'RFM Monetary Score',
   'description': 'Monetary score of RFM for the latest period',
   'data_type': 'categorical',
   'selection': 'single',
   'values': [{'name': 0, 'value': 0},
    {'name': 1, 'value': 1},
    {'name': 2, 'value': 2},
    {'name': 3, 'value': 3},
    {'name': 4, 'value': 4},
    {'name': 5, 'value': 5},
    {'name': 6, 'value': 6}]},
  'rfm_recency': {'name': 'RFM Raw recency value',
   'description': 'Raw recency value before binning',
   'data_type': 'integer'},
  'rfm_recency_score': {'name': 'RFM Recency Score',
   'description': 'Recency score of RFM for the latest period',
   'data_type': 'categorical',
   'selection': 'single',
   'values': [{'name': 0, 'value': 0},
    {'name': 1, 'value': 1},
    {'name': 2, 'value': 2},
    {'name': 3, 'value': 3},
    {'name': 4, 'value': 4},
    {'name': 5, 'value': 5}]},
  'rfm_score': {'name': 'RFM Score',
   'description': '',
   'data_type': 'integer'},
  'rfm_segment': {'name': 'RFM Segment',
   'description': 'RFM segment for the latest period (eg. Lost, At Risk, etc)',
   'data_type': 'categorical',
   'selection': 'single',
   'values': [{'name': 'About To Sleep', 'value': 'About To Sleep'},
    {'name': 'At Risk', 'value': 'At Risk'},
    {'name': 'Champions', 'value': 'Champions'},
    {'name': 'Hibernating', 'value': 'Hibernating'},
    {'name': 'Lapsed', 'value': 'Lapsed'},
    {'name': 'Lost', 'value': 'Lost'},
    {'name': 'Loyal Customers', 'value': 'Loyal Customers'},
    {'name': 'Need Attention', 'value': 'Need Attention'},
    {'name': 'Potential Loyalist', 'value': 'Potential Loyalist'},
    {'name': 'Promising', 'value': 'Promising'},
    {'name': 'Recent Customers', 'value': 'Recent Customers'}]},
  'waiting_period': {'name': 'Waiting period',
   'description': 'Predicted optimal waiting period between campaigns',
   'data_type': 'integer'},
  'burnout': {'name': 'Burnout',
   'description': 'Is member likely to burnout from campaign?',
   'data_type': 'integer'},
  'lapse_prediction': {'name': 'Lapsed',
   'description': 'Is this member likely to lapse?',
   'data_type': 'boolean'},
  'lapse_threshold': {'name': 'Lapsed Threshold',
   'description': 'The number of days that correspond to "lapsed" status. Based on past purchase interval+2 standard deviation.',
   'data_type': 'float',
   'max_value': 0.0,
   'min_value': 0.0},
  'membership_status_active': {'name': 'Is Member active?',
   'description': '',
   'data_type': 'boolean'}}}

In [280]:
dict_json_row

{'blastrecipient_member_id': {'name': 'Member ID',
  'description': '',
  'data_type': 'string',
  'aggregatable': True},
 'output_email': {'name': 'Respond to email',
  'description': 'Is this member likely to respond to the email campaign?',
  'data_type': 'boolean'},
 'output_sms': {'name': 'Respond to sms',
  'description': 'Is this member likely to respond to the SMS campaign?',
  'data_type': 'boolean'},
 'is_blast_on_weekday': {'name': 'Blast on weekday?',
  'description': 'Is this predicted blast on a weekday?',
  'data_type': 'boolean'},
 'is_blast_on_weekend': {'name': 'Blast on weekends?',
  'description': 'Is this predicted blast on a weekend?',
  'data_type': 'boolean'},
 'blast_on_day_of_week': {'name': 'Day of week',
  'description': 'Day of week of the predicted blast',
  'data_type': 'integer'},
 'blast_on_month_of_year': {'name': 'Month of year',
  'description': 'Month of year of the predicted blast',
  'data_type': 'integer'},
 'blast_on_day_of_month': {'name': 'Day of month',
  'description': 'Day of month of the predicted blast',
  'data_type': 'integer'},
 'member_gender': {'name': 'Member Gender',
  'description': '',
  'data_type': 'categorical',
  'selection': 'single',
  'values': [{'name': 'female', 'value': 'female'},
   {'name': 'male', 'value': 'male'},
   {'name': 'others', 'value': 'others'}]},
 'card_tier': {'name': 'Membership Tier',
  'description': '',
  'data_type': 'categorical',
  'selection': 'multiple',
  'values': [{'name': 'card_tier_Shopper', 'value': 'card_tier_Shopper'},
   {'name': 'card_tier_Member', 'value': 'card_tier_Member'}]},
 'member_notify': {'name': 'Member Communications',
  'description': 'Members notification methods',
  'data_type': 'categorical',
  'selection': 'multiple',
  'values': [{'name': 'Is member subscribed to email communications',
    'value': 'member_sender_issubscribed'},
   {'name': 'Is member subscribed to SMS communications',
    'value': 'member_notifysms'},
   {'name': 'Is member subscribed to PNS communications',
    'value': 'member_pns_devices_pushalert'}]},
 'member_marital_status': {'name': 'Marital Status',
  'description': '',
  'data_type': 'categorical',
  'selection': 'single',
  'values': [{'name': 'single', 'value': 'single'},
   {'name': 'married', 'value': 'married'},
   {'name': 'others', 'value': 'others'}]},
 'recency': {'name': 'Recency(days)',
  'description': 'The number of days since last purchase',
  'data_type': 'integer'},
 'recency_group': {'name': 'Recency group',
  'description': '',
  'data_type': 'categorical',
  'selection': 'single',
  'values': [{'name': 'last 1 week(s)', 'value': 'last 1 week(s)'},
   {'name': 'last 2 week(s)', 'value': 'last 2 week(s)'},
   {'name': 'last 1 month(s)', 'value': 'last 1 month(s)'},
   {'name': 'last 3 month(s)', 'value': 'last 3 month(s)'},
   {'name': 'last 6 month(s)', 'value': 'last 6 month(s)'},
   {'name': 'last 6 -12 month(s)', 'value': 'last 6 -12 month(s)'},
   {'name': '> 12 month(s)', 'value': '> 12 month(s)'},
   {'name': 'others', 'value': 'others'}]},
 'age': {'name': 'Member age(years)',
  'description': 'Member age in years. If age = 0, means membership age is unknown.',
  'data_type': 'integer'},
 'age_group': {'name': 'Member age group',
  'description': '',
  'data_type': 'categorical',
  'selection': 'single',
  'values': [{'name': '< 20', 'value': 'less_than_20'},
   {'name': '20 - 35', 'value': '20_to_35'},
   {'name': '36 - 49', 'value': '36_to_49'},
   {'name': '50 - 65', 'value': '50_to_65'},
   {'name': '65 - 100', 'value': '65_to_100'},
   {'name': '100+', 'value': 'more_than_100'},
   {'name': 'others', 'value': 'others'}]},
 'tenure_days': {'name': 'Membership tenure(days)',
  'description': 'No of days since member joined',
  'data_type': 'integer'},
 'tenure_years': {'name': 'Membership tenure(years)',
  'description': 'No of years since member joined',
  'data_type': 'integer'},
 'tenure_years_group': {'name': 'Membership tenure group',
  'description': '',
  'data_type': 'categorical',
  'selection': 'single',
  'values': [{'name': '1 year(s) or less', 'value': '1 year(s) or less'},
   {'name': '2 year(s)', 'value': '2 year(s)'},
   {'name': '3 year(s)', 'value': '3 year(s)'},
   {'name': '4 year(s)', 'value': '4 year(s)'},
   {'name': '5 year(s)', 'value': '5 year(s)'},
   {'name': '6 year(s) or more', 'value': '6 year(s) or more'}]},
 'no_of_vouchers_issued': {'name': 'Number of vouchers issued to member',
  'description': '',
  'data_type': 'integer'},
 'no_of_vouchers_utilized': {'name': 'Number of vouchers utilized by member',
  'description': '',
  'data_type': 'integer'},
 'perc_of_vouchers_utilized': {'name': 'Percentage of voucher utilized by members',
  'description': '',
  'data_type': 'float',
  'max_value': 3.1,
  'min_value': 0.0},
 'voucher_value_issued_last': {'name': 'Vouchers value issued',
  'description': '',
  'data_type': 'group',
  'fields': {'voucher_value_issued_last_7_days': {'name': 'Vouchers value issued past 7 days',
    'data_type': 'money'},
   'voucher_value_issued_last_30_days': {'name': 'Vouchers value issued past 30 days',
    'data_type': 'money'},
   'voucher_value_issued_last_90_days': {'name': 'Vouchers value issued past 90 days',
    'data_type': 'money'},
   'voucher_value_issued_last_180_days': {'name': 'Vouchers value issued past 180 days',
    'data_type': 'money'},
   'voucher_value_issued_last_270_days': {'name': 'Vouchers value issued past 270 days',
    'data_type': 'money'},
   'voucher_value_issued_last_360_days': {'name': 'Vouchers value issued past 360 days',
    'data_type': 'money'}}},
 'voucher_value_utilized_last': {'name': 'Voucher value utilized',
  'description': '',
  'data_type': 'group',
  'fields': {'voucher_value_utilized_last_7_days': {'name': 'Vouchers value utilized past 7 days',
    'data_type': 'money'},
   'voucher_value_utilized_last_30_days': {'name': 'Vouchers value utilized past 30 days',
    'data_type': 'money'},
   'voucher_value_utilized_last_90_days': {'name': 'Vouchers value utilized past 90 days',
    'data_type': 'money'},
   'voucher_value_utilized_last_180_days': {'name': 'Vouchers value utilized past 180 days',
    'data_type': 'money'},
   'voucher_value_utilized_last_270_days': {'name': 'Vouchers value utilized past 270 days',
    'data_type': 'money'},
   'voucher_value_utilized_last_360_days': {'name': 'Vouchers value utilized past 360 days',
    'data_type': 'money'}}},
 'no_of_transact_past': {'name': 'Number of transactions',
  'description': '',
  'data_type': 'group',
  'fields': {'no_of_transact_past_7_days': {'name': 'Number of transactions past 7 days',
    'data_type': 'integer'},
   'no_of_transact_past_30_days': {'name': 'Number of transactions past 30 days',
    'data_type': 'integer'},
   'no_of_transact_past_90_days': {'name': 'Number of transactions past 90 days',
    'data_type': 'integer'},
   'no_of_transact_past_180_days': {'name': 'Number of transactions past 180 days',
    'data_type': 'integer'},
   'no_of_transact_past_270_days': {'name': 'Number of transactions past 270 days',
    'data_type': 'integer'},
   'no_of_transact_past_360_days': {'name': 'Number of transactions past 360 days',
    'data_type': 'integer'}}},
 'transact_nettspent_past': {'name': 'Nett Spent',
  'description': '',
  'data_type': 'group',
  'fields': {'transact_nettspent_past_7_days': {'name': 'Nett Spent past 7 days',
    'data_type': 'money'},
   'transact_nettspent_past_30_days': {'name': 'Nett Spent past 30 days',
    'data_type': 'money'},
   'transact_nettspent_past_90_days': {'name': 'Nett Spent past 90 days',
    'data_type': 'money'},
   'transact_nettspent_past_180_days': {'name': 'Nett Spent past 180 days',
    'data_type': 'money'},
   'transact_nettspent_past_270_days': {'name': 'Nett Spent past 270 days',
    'data_type': 'money'},
   'transact_nettspent_past_360_days': {'name': 'Nett Spent past 360 days',
    'data_type': 'money'}}},
 'transact_transactpoints_past': {'name': 'Transaction points',
  'description': '',
  'data_type': 'group',
  'fields': {'transact_transactpoints_past_7_days': {'name': 'Transaction points past 7 days',
    'data_type': 'integer'},
   'transact_transactpoints_past_30_days': {'name': 'Transaction points past 30 days',
    'data_type': 'integer'},
   'transact_transactpoints_past_90_days': {'name': 'Transaction points past 90 days',
    'data_type': 'integer'},
   'transact_transactpoints_past_180_days': {'name': 'Transaction points past 180 days',
    'data_type': 'integer'},
   'transact_transactpoints_past_270_days': {'name': 'Transaction points past 270 days',
    'data_type': 'integer'},
   'transact_transactpoints_past_360_days': {'name': 'Transaction points past 360 days',
    'data_type': 'integer'}}},
 'no_of_vouchers_issued_by_campaign': {'name': 'Number of vouchers issued by campaign',
  'description': '',
  'data_type': 'integer'},
 'no_of_vouchers_issued_by_campaign_and_utilized': {'name': 'Number of vouchers issued by campaign and utilized',
  'description': '',
  'data_type': 'integer'},
 'no_of_past_campaign_hits': {'name': 'Number of past campaign hits',
  'description': '',
  'data_type': 'integer'},
 'member_most_freq_outlet': {'name': 'Member most frequent outlet',
  'description': '',
  'data_type': 'string',
  'aggregatable': ''},
 'no_of_unique_visited_outlets': {'name': 'Number of uniquely visited outlet',
  'description': '',
  'data_type': 'integer'},
 'no_of_blasts_sent': {'name': 'Number of blast sent',
  'description': 'Number of email blasts(not campaign) received in the past, at member level',
  'data_type': 'integer'},
 'no_of_blasts_read': {'name': 'Number of blast read',
  'description': 'Number of email blasts(not campaign) read in the past, at member level',
  'data_type': 'integer'},
 'interest_group': {'name': 'Member interest group',
  'description': '',
  'data_type': 'categorical',
  'selection': 'multiple',
  'values': [{'name': 'interest_group_code_Dancing',
    'value': 'interest_group_code_Dancing'},
   {'name': 'interest_group_code_Shopping',
    'value': 'interest_group_code_Shopping'}]},
 'campaignqualifiedlog_transact_autoid': {'name': 'Number of past campaign hits',
  'description': '',
  'data_type': 'group',
  'fields': {'campaignqualifiedlog_transact_autoid_past_7_days': {'name': 'Number of past campaign hits past 7 days',
    'data_type': 'integer'},
   'campaignqualifiedlog_transact_autoid_past_30_days': {'name': 'Number of past campaign hits past 30 days',
    'data_type': 'integer'},
   'campaignqualifiedlog_transact_autoid_past_90_days': {'name': 'Number of past campaign hits past 90 days',
    'data_type': 'integer'},
   'campaignqualifiedlog_transact_autoid_past_180_days': {'name': 'Number of past campaign hits past 180 days',
    'data_type': 'integer'},
   'campaignqualifiedlog_transact_autoid_past_270_days': {'name': 'Number of past campaign hits past 270 days',
    'data_type': 'integer'},
   'campaignqualifiedlog_transact_autoid_past_360_days': {'name': 'Number of past campaign hits past 360 days',
    'data_type': 'integer'}}},
 'rfm_frequency': {'name': 'RFM Raw frequency value',
  'description': 'Raw frequency value before binning',
  'data_type': 'integer'},
 'rfm_frequency_score': {'name': 'RFM Frequency Score',
  'description': 'Frequency score of RFM for the latest period',
  'data_type': 'categorical',
  'selection': 'single',
  'values': [{'name': 0, 'value': 0},
   {'name': 1, 'value': 1},
   {'name': 2, 'value': 2},
   {'name': 3, 'value': 3},
   {'name': 4, 'value': 4},
   {'name': 5, 'value': 5},
   {'name': 6, 'value': 6}]},
 'rfm_monetary': {'name': 'RFM Raw monetary value',
  'description': 'Raw monetary value before binning',
  'data_type': 'integer'},
 'rfm_monetary_score': {'name': 'RFM Monetary Score',
  'description': 'Monetary score of RFM for the latest period',
  'data_type': 'categorical',
  'selection': 'single',
  'values': [{'name': 0, 'value': 0},
   {'name': 1, 'value': 1},
   {'name': 2, 'value': 2},
   {'name': 3, 'value': 3},
   {'name': 4, 'value': 4},
   {'name': 5, 'value': 5},
   {'name': 6, 'value': 6}]},
 'rfm_recency': {'name': 'RFM Raw recency value',
  'description': 'Raw recency value before binning',
  'data_type': 'integer'},
 'rfm_recency_score': {'name': 'RFM Recency Score',
  'description': 'Recency score of RFM for the latest period',
  'data_type': 'categorical',
  'selection': 'single',
  'values': [{'name': 0, 'value': 0},
   {'name': 1, 'value': 1},
   {'name': 2, 'value': 2},
   {'name': 3, 'value': 3},
   {'name': 4, 'value': 4},
   {'name': 5, 'value': 5}]},
 'rfm_score': {'name': 'RFM Score', 'description': '', 'data_type': 'integer'},
 'rfm_segment': {'name': 'RFM Segment',
  'description': 'RFM segment for the latest period (eg. Lost, At Risk, etc)',
  'data_type': 'categorical',
  'selection': 'single',
  'values': [{'name': 'About To Sleep', 'value': 'About To Sleep'},
   {'name': 'At Risk', 'value': 'At Risk'},
   {'name': 'Champions', 'value': 'Champions'},
   {'name': 'Hibernating', 'value': 'Hibernating'},
   {'name': 'Lapsed', 'value': 'Lapsed'},
   {'name': 'Lost', 'value': 'Lost'},
   {'name': 'Loyal Customers', 'value': 'Loyal Customers'},
   {'name': 'Need Attention', 'value': 'Need Attention'},
   {'name': 'Potential Loyalist', 'value': 'Potential Loyalist'},
   {'name': 'Promising', 'value': 'Promising'},
   {'name': 'Recent Customers', 'value': 'Recent Customers'}]},
 'waiting_period': {'name': 'Waiting period',
  'description': 'Predicted optimal waiting period between campaigns',
  'data_type': 'integer'},
 'burnout': {'name': 'Burnout',
  'description': 'Is member likely to burnout from campaign?',
  'data_type': 'integer'},
 'lapse_prediction': {'name': 'Lapsed',
  'description': 'Is this member likely to lapse?',
  'data_type': 'boolean'},
 'lapse_threshold': {'name': 'Lapsed Threshold',
  'description': 'The number of days that correspond to "lapsed" status. Based on past purchase interval+2 standard deviation.',
  'data_type': 'float',
  'max_value': 0.0,
  'min_value': 0.0},
 'membership_status_active': {'name': 'Is Member active?',
  'description': '',
  'data_type': 'boolean'}}

In [228]:
def mapping_column(dummyCol,colname):
    colname = colname.split("|")
    listColumn = []
    for col in colname:
        if dummyCol in col:
            listColumn.append(col)
    
    res = ("|").join(listColumn)
    return res

In [86]:
test = "member_marital_status"

In [87]:
test_name = test.split("_")

In [91]:
test_name

['member', 'marital', 'status']

In [92]:
ress = ("").join(test_name)

In [93]:
ress

'membermaritalstatus'

In [51]:
grp_rows = dfa_template.loc[dfa_template["group"]=="member_notify"]
dict_grp_row_value = []
for grp_row_index in range(len(grp_rows)):
    grp_result = {}
    dict_grp_row = grp_rows.iloc[grp_row_index]
    grp_name = get_name(dict_grp_row)
    grp_value = get_row_feature(dict_grp_row)
    grp_result["name"] = grp_name
    grp_result["value"] = grp_value
    print(grp_result)
    dict_grp_row_value.append(grp_result)

{'name': 'Is member subscribed to email communications', 'value': 'member_sender_issubscribed'}
{'name': 'Is member subscribed to SMS communications', 'value': 'member_notifysms'}
{'name': 'Is member subscribed to PNS communications', 'value': 'member_pns_devices_pushalert'}

In [52]:
dict_grp_row_value

[{'name': 'Is member subscribed to email communications',
  'value': 'member_sender_issubscribed'},
 {'name': 'Is member subscribed to SMS communications',
  'value': 'member_notifysms'},
 {'name': 'Is member subscribed to PNS communications',
  'value': 'member_pns_devices_pushalert'}]

In [53]:
group_rows = dfa_template.loc[dfa_template["group"]=="transact_transactpoints_past"]
dict_group_row_value = {}


for row_index in range(len(group_rows)):
    group_result_index = {}
    group_result = {}
    dict_group_row = group_rows.iloc[row_index]
    group_name = get_name(dict_group_row)
    group_value = get_row_feature(dict_group_row)
    group_value_data_type = verify_data_type(dict_group_row)
    group_result_index["name"] = grp_name
    group_result_index["data_type"] = group_value_data_type
    
    dict_group_row_value[group_value] = group_result_index
    print(group_result)

    #dict_group_row_value.append(group_result)

{}
{}
{}
{}
{}
{}

In [54]:
dict_group_row_value

{'transact_transactpoints_past_7_days': {'name': 'Is member subscribed to PNS communications',
  'data_type': 'integer'},
 'transact_transactpoints_past_30_days': {'name': 'Is member subscribed to PNS communications',
  'data_type': 'integer'},
 'transact_transactpoints_past_90_days': {'name': 'Is member subscribed to PNS communications',
  'data_type': 'integer'},
 'transact_transactpoints_past_180_days': {'name': 'Is member subscribed to PNS communications',
  'data_type': 'integer'},
 'transact_transactpoints_past_270_days': {'name': 'Is member subscribed to PNS communications',
  'data_type': 'integer'},
 'transact_transactpoints_past_360_days': {'name': 'Is member subscribed to PNS communications',
  'data_type': 'integer'}}

In [55]:
def set_dict_inner_value(column_name):
    dict_value_data = {
               "name":column_name,
               "value":""
            }
    
    return dict_value_data

In [56]:
def set_fields_data(column_name,description,data_type,selection):
    dict_inner_column = {
    "name":column_name,
    "description":description,
    "data_type":data_type,
    "aggregatable":'',
    "selection":'',
    "values":[],
    "max_value":1,
    "min_value":0,
    "fields":
}

SyntaxError: expression expected after dictionary key and ':' (4076463019.py, line 11)

In [57]:
output_data_column = {
    "model": "u1m1",
    "client": "starbucks_old",
    "fields": set_fields_data
}

NameError: name 'set_fields_data' is not defined

In [58]:
output_list = df_raw_data.columns.tolist()

In [59]:
output_list

['blast_type',
 'blastrecipient_autoid',
 'blastrecipient_member_autoid',
 'blastrecipient_member_id',
 'blast_blastdate',
 'is_blast_on_weekday',
 'is_blast_on_weekend',
 'blast_on_day_of_week',
 'blast_on_month_of_year',
 'blast_on_day_of_month',
 'tenure_days',
 'tenure_years',
 'tenure_years_group',
 'tenure_years_group_order',
 'no_of_vouchers_issued',
 'no_of_vouchers_utilized',
 'perc_of_vouchers_utilized',
 'voucher_value_utilized_last_7_days',
 'voucher_value_utilized_last_30_days',
 'voucher_value_utilized_last_90_days',
 'voucher_value_utilized_last_180_days',
 'voucher_value_utilized_last_270_days',
 'voucher_value_utilized_last_360_days',
 'no_of_vouchers_issued_by_campaign',
 'no_of_vouchers_issued_by_campaign_and_utilized',
 'no_of_past_campaign_hits',
 'member_autoid',
 'member_maritalstatus',
 'member_gender',
 'member_notifysms',
 'member_notifypost',
 'no_of_transact_past_7_days',
 'no_of_transact_past_30_days',
 'no_of_transact_past_90_days',
 'no_of_transact_past_180_days',
 'no_of_transact_past_270_days',
 'no_of_transact_past_360_days',
 'transact_nettspent_past_7_days',
 'transact_nettspent_past_30_days',
 'transact_nettspent_past_90_days',
 'transact_nettspent_past_180_days',
 'transact_nettspent_past_270_days',
 'transact_nettspent_past_360_days',
 'transact_transactpoints_past_7_days',
 'transact_transactpoints_past_30_days',
 'transact_transactpoints_past_90_days',
 'transact_transactpoints_past_180_days',
 'transact_transactpoints_past_270_days',
 'transact_transactpoints_past_360_days',
 'campaignqualifiedlog_transact_autoid_past_7_days',
 'campaignqualifiedlog_transact_autoid_past_30_days',
 'campaignqualifiedlog_transact_autoid_past_90_days',
 'campaignqualifiedlog_transact_autoid_past_180_days',
 'campaignqualifiedlog_transact_autoid_past_270_days',
 'campaignqualifiedlog_transact_autoid_past_360_days',
 'recency',
 'recency_group',
 'recency_group_order',
 'age',
 'age_group',
 'age_group_order',
 'member_most_freq_outlet',
 'no_of_unique_visited_outlets',
 'no_of_blasts_sent',
 'no_of_blasts_read',
 'card_tier_Member',
 'card_tier_Shopper',
 'membership_status_active',
 'member_sender_issubscribed',
 'member_pns_devices_pushalert',
 'interest_group_code_Shopping',
 'interest_group_code_Dancing',
 'waiting_period',
 'rfm_recency',
 'rfm_recency_score',
 'rfm_frequency',
 'rfm_frequency_score',
 'rfm_monetary',
 'rfm_monetary_score',
 'rfm_score',
 'recencyscore',
 'frequencyscore',
 'monetaryscore',
 'rfmvalue',
 'fmscore',
 'rfmshortscore',
 'rfmsegmentorder',
 'recencyorder',
 'frequencyorder',
 'monetaryorder',
 'r_order',
 'fm_order',
 'rfm_segment',
 'blast_type_email',
 'blast_type_sms',
 'rfm_score_415',
 'rfm_score_112',
 'rfm_score_512',
 'rfm_score_113',
 'rfm_score_524',
 'rfm_score_214',
 'rfm_score_100',
 'rfm_score_523',
 'rfm_score_535',
 'rfm_score_525',
 'rfm_score_413',
 'rfm_score_111',
 'rfm_score_545',
 'rfm_score_412',
 'rfm_score_115',
 'rfm_score_414',
 'rfm_score_511',
 'rfm_score_114',
 'rfm_score_213',
 'rfm_score_555',
 'rfm_score_515',
 'rfm_score_313',
 'rfm_score_212',
 'rfm_score_513',
 'rfm_score_314',
 'rfm_score_514',
 'rfm_score_211',
 'rfm_score_312',
 'rfm_score_235',
 'rfm_score_510',
 'rfm_score_315',
 'rfm_score_411',
 'rfm_score_215',
 'rfm_score_355',
 'rfm_score_311',
 'member_gender_female',
 'member_gender_others',
 'member_gender_male',
 'member_maritalstatus_others',
 'member_maritalstatus_married',
 'member_maritalstatus_single',
 'output']

In [60]:
mapping_column(output_list,"interest_group")

TypeError: 'in <string>' requires string as left operand, not list

In [225]:
df_raw_data["recency_group_order"].value_counts()

7    349464
5     21888
4     20596
6     16504
3     12650
1      8870
2      6714
Name: recency_group_order, dtype: int64

In [62]:
xs = ['abc-123', 'def-456', 'ghi-789', 'abc-456']

if any("de" in s for s in xs):
    print("in list")

in list

In [63]:
if "interest_group" in output_list:
    print("in list")
else:
    print("out list")

out list

In [226]:
a = df_raw_data["recency_group_order"].unique()

In [227]:
print(sorted(a))

[1, 2, 3, 4, 5, 6, 7]

In [66]:
len(a)

3

In [67]:
for les in a:
    print(les)

female
male
others

In [68]:
def map_column(dummyCol,output_list):
    colname = output_list.split(",")
    listColumn = []
    for col in output_list:
        if dummyCol in col:
            listColumn.append(col)
    
    res = ("|").join(listColumn)
    return res

In [69]:
listss = ['abc123', 'def456', 'ghi789']

In [70]:
for ss in listss:
    if "as" in ss:
        print("yeah")
    else:
        print("nope")

nope
nope
nope

In [71]:
minn = df_raw_data["perc_of_vouchers_utilized"].min()
maxx = df_raw_data["perc_of_vouchers_utilized"].max()

In [72]:
print("Min : ",minn," | Max : ",maxx)

Min :  0.0  | Max :  3.1

In [73]:
source_columns = df_raw_data.columns.tolist()

In [115]:
for sc in source_columns:
    if "rfm_recency_score" in sc:
        print("yeah_" ,sc)

yeah_ rfm_recency_score

In [75]:
assss = []

In [76]:
def get_categorical_value_from_source_test(categorical_name):
    categorical_result_list = []
    source_column_list = df_raw_data.columns.tolist()
    if categorical_name in source_column_list:
        #------ get direct unique value
        source_unique_values = sorted(df_raw_data[categorical_name].unique()) #---------- sorted mapping with mapper csv
        if len(source_unique_values) > 0:
            for source_unique in source_unique_values:
                categorical_result = {}
                categorical_result["name"] = str(source_unique)
                categorical_result["value"] = str(source_unique)
                categorical_result_list.append(categorical_result)
    else:
        #------ find by like
        for source_column_name in source_column_list:
            if categorical_name in source_column_name:
                print(source_column_name)
                categorical_result = {}
                categorical_result["name"] = str(source_column_name)
                categorical_result["value"] = str(source_column_name)
                categorical_result_list.append(categorical_result)

    return categorical_result_list

In [114]:
assss = get_categorical_value_from_source("rfm_recency_score")

In [85]:
assss

[{'name': 'member_maritalstatus', 'value': 'member_maritalstatus'},
 {'name': 'member_maritalstatus_others',
  'value': 'member_maritalstatus_others'},
 {'name': 'member_maritalstatus_married',
  'value': 'member_maritalstatus_married'},
 {'name': 'member_maritalstatus_single',
  'value': 'member_maritalstatus_single'}]

In [79]:
def set_float_min_test(source_float_column_name):
    dict_float_min_value = 0
    source_column_list = df_raw_data.columns.tolist()
    if source_float_column_name in source_column_list:
        #------ get direct unique value
        source_min_values = df_raw_data[source_float_column_name].min()
        dict_float_min_value = float(source_min_values)
    else:
        dict_float_min_value = float(0)
    
    return dict_float_min_value

In [80]:
def set_float_max_test(source_float_column_name):
    dict_float_max_value = 0
    source_column_list = df_raw_data.columns.tolist()
    if source_float_column_name in source_column_list:
        #------ get direct unique value
        source_max_values = df_raw_data[source_float_column_name].max()
        dict_float_max_value = float(source_max_values)
    else:
        dict_float_max_value = float(1)
    return dict_float_max_value

In [81]:
print(set_float_min_test("perc_of_vouchers_utilized"))
print(set_float_max_test("perc_of_vouchers_utilized"))

0.0
3.1

'percofvouchersutilized'

In [117]:
input_col_name = "rfm_recency_score"
join_input_col_name = join_column_name(input_col_name)


for scn in source_columns:
    source_join_column_name = join_column_name(scn)
    
    if join_input_col_name in source_join_column_name:
        if join_input_col_name == source_join_column_name:
            print("got it " ,scn)
        else:
            print("" ,scn)

got it  rfm_recency_score

In [552]:
def get_categorical_value_from_source_testtt(categorical_name):
    categorical_result_list = []
    source_column_list = df_raw_data.columns.tolist()
    join_categorical_name = join_column_name(categorical_name)
  
    for source_column_name in source_column_list:
        source_join_column_name = join_column_name(source_column_name)
        if join_categorical_name in source_join_column_name:
            if join_categorical_name == source_join_column_name:
                #source_unique_values = sorted(df_raw_data[source_column_name].unique())
                source_unique_values = get_sorted_uniquetest(source_column_name)
                print(source_unique_values)
                if len(source_unique_values) > 0:
                    for source_unique in source_unique_values:
                        
                        categorical_result = {}
                        categorical_result["name"] = str(source_unique)
                        categorical_result["value"] = str(source_unique)
                        categorical_result_list.append(categorical_result)
                break
            elif join_categorical_name != source_join_column_name:
                categorical_result = {}
                categorical_result["name"] = str(source_column_name)
                categorical_result["value"] = str(source_column_name)
                categorical_result_list.append(categorical_result)

    return categorical_result_list

In [553]:
get_categorical_value_from_source_testtt("age_group")

['100+', '20 - 35', '36 - 49', '50 - 65', '65 - 100', '< 20', 'others']

[{'name': '100+', 'value': '100+'},
 {'name': '20 - 35', 'value': '20 - 35'},
 {'name': '36 - 49', 'value': '36 - 49'},
 {'name': '50 - 65', 'value': '50 - 65'},
 {'name': '65 - 100', 'value': '65 - 100'},
 {'name': '< 20', 'value': '< 20'},
 {'name': 'others', 'value': 'others'}]

In [395]:
get_categorical_value_from_source_testtt("card_tier")

[{'name': 'card_tier_Member', 'value': 'card_tier_Member'},
 {'name': 'card_tier_Shopper', 'value': 'card_tier_Shopper'}]

In [54]:
gd = dfa_sort_value_standard.loc[dfa_sort_value_standard["domain"]=="agegroup"]

In [58]:
if len(gd["std_name"]) > 0:
    print(gd["std_name"].unique())
else :
    print(gd["std_values"].unique())

['less_than_20' '20_to_35' '36_to_49' '50_to_65' '65_to_100'
 'more_than_100' 'others']

In [59]:
gd["std_values"].unique()

array(['< 20', '20 - 35', '36 - 49', '50 - 65', '65 - 100', '100+',
       'others'], dtype=object)

In [305]:
for innn in gd:
    #if innn["domain"] == "gender":
    print(innn)

domain
src_values
std_values
std_order
enrich_gender
min_value
max_value
exception
addedby
addedon
modifiedby
modifiedon

In [326]:
gd

,domain,src_values,std_values,std_order,enrich_gender,min_value,max_value,exception,addedby,addedon,modifiedby,modifiedon
0,gender,F,female,1.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
1,gender,Female,female,1.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
2,gender,M,male,2.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
3,gender,Male,male,2.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
4,gender,0,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
5,gender,&,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
6,gender,(,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
7,gender,C,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
8,gender,D,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
9,gender,G,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
10,gender,N,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
11,gender,None,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
12,gender,O,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
13,gender,Others,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
14,gender,P,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
15,gender,s,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
16,gender,X,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
17,gender,exception,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN

In [335]:
dd = gd.drop_duplicates(subset = ["std_values"]).sort_values(by=['std_order'])

In [336]:
dd

,domain,src_values,std_values,std_order,enrich_gender,min_value,max_value,exception,addedby,addedon,modifiedby,modifiedon
0,gender,F,female,1.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
2,gender,M,male,2.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
4,gender,0,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN

In [333]:
dfss = dd.sort_values(by=['std_order'])

In [334]:
dfss

,domain,src_values,std_values,std_order,enrich_gender,min_value,max_value,exception,addedby,addedon,modifiedby,modifiedon
0,gender,F,female,1.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
2,gender,M,male,2.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
4,gender,0,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN

    domain  std_order std_values
0   gender        1.0     female
1   gender        1.0     female
2   gender        2.0       male
3   gender        2.0       male
4   gender       99.0     others
5   gender       99.0     others
6   gender       99.0     others
7   gender       99.0     others
8   gender       99.0     others
9   gender       99.0     others
10  gender       99.0     others
11  gender       99.0     others
12  gender       99.0     others
13  gender       99.0     others
14  gender       99.0     others
15  gender       99.0     others
16  gender       99.0     others
17  gender       99.0     others

In [268]:
k = "female","male","others"

In [276]:
df_values = dfa_sort_value_standard[dfa_sort_value_standard['std_values'].isin(['female', 'male','others'])]

In [274]:
df_values

,domain,src_values,std_values,std_order,enrich_gender,min_value,max_value,exception,addedby,addedon,modifiedby,modifiedon
0,gender,F,female,1.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
1,gender,Female,female,1.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
2,gender,M,male,2.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
3,gender,Male,male,2.0,NaN,NaN,NaN,n,NaN,NaN,NaN,NaN
4,gender,0,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
5,gender,&,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
6,gender,(,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
7,gender,C,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
8,gender,D,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
9,gender,G,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
10,gender,N,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
11,gender,None,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
12,gender,O,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
13,gender,Others,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
14,gender,P,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
15,gender,s,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
16,gender,X,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
17,gender,exception,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
161,maritalstatus,50,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
162,maritalstatus,51,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
163,maritalstatus,52,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
164,maritalstatus,MARITAL_OTHERS,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
165,maritalstatus,None,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
166,maritalstatus,NaN,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
167,maritalstatus,OTHERS,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
168,maritalstatus,string,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
183,membershipstatus,NaN,others,NaN,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
196,membershipstatus,exception,others,NaN,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
203,agegroup,others,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
211,recencygroup,others,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN
218,tenuregroup,others,others,99.0,NaN,NaN,NaN,y,NaN,NaN,NaN,NaN

In [ ]:
"membergender"

In [167]:
domain_type_listtest = dfa_sort_value_standard["domain"].unique()
print(domain_type_list)

['gender' 'salutation' 'maritalstatus' 'membershipstatus' 'agegroup'
 'recencygroup']

In [281]:
def sorted_source_unique_mappertest(source_column_name):
    source_unique_values = []
    categorical_result_list =[]
    source_unique_values = sorted(df_raw_data[source_column_name].unique())
    if len(source_unique_values) > 0:
        for unique_values in source_unique_values:
            categorical_result = {}
            categorical_result["name"] = unique_values
            categorical_result["value"] = unique_values
            categorical_result_list.append(categorical_result)
    return categorical_result_list

In [282]:
def sorted_domain_unique_mappertest(source_column_name):
    domain_values = []
    categorical_result_list =[]
    source_column_name = join_column_name(source_column_name)
    for sort_type in domain_type_list:
        if sort_type in source_column_name :
            #domain_list = dfa_sort_value_standard.loc[dfa_sort_value_standard["domain"]==sort_type].sort_values(by=['std_order'])
            domain_list = dfa_sort_value_standard.loc[dfa_sort_value_standard["domain"]==sort_type].drop_duplicates(subset='std_values').sort_values(by=['std_order'])
            for row_index in domain_list.index :
                #print(domain_list["std_name"].notna(),"type - ",type(domain_list["std_name"].notna()),"-",row_index)
                categorical_result = {}
                if str(domain_list["std_name"][row_index]) != "nan" :
                    categorical_result["name"] = str(domain_list["std_values"][row_index])
                    categorical_result["value"] = str(domain_list["std_name"][row_index])
                else:
                    categorical_result["name"] = str(domain_list["std_values"][row_index])
                    categorical_result["value"] = str(domain_list["std_values"][row_index])
                categorical_result_list.append(categorical_result)
                
            #domain_values = domain_list.drop_duplicates(subset = ["std_values"]).sort_values(by=['std_order'])["std_values"]
            #domain_values = dfa_sort_value_standard.loc[dfa_sort_value_standard["domain"]==sort_type].drop_duplicates(subset='std_values').sort_values(by=['std_order'])
            #print(domain_values["std_name"])
    return categorical_result_list

In [283]:
def get_sorted_uniquetest(source_column_name): #age_group
    source_unique_values = []
    source_unique_values = sorted_domain_unique_mappertest(source_column_name)
    if len(source_unique_values) <= 0:
        print("--------- source_unique_values<0 ")
        source_unique_values = sorted_source_unique_mappertest(source_column_name)
    return source_unique_values

In [325]:
sorted_domain_unique_mappertest("card_tier")

[]

In [326]:
get_sorted_uniquetest("card_tier")

--------- source_unique_values<0

KeyError: 'card_tier'

In [365]:
def get_categorical_value_from_sourcetest(categorical_name):
    categorical_result_list = []
    source_column_list = df_raw_data.columns.tolist() #------- column from raw data
    join_categorical_name = join_column_name(categorical_name) #----- join  input categorical_name
  
    for source_column_name in source_column_list:
        source_join_column_name = join_column_name(source_column_name) #------ join source column name
        
        
        
        
        
        if join_categorical_name in source_join_column_name:
            if join_categorical_name == source_join_column_name:
                source_unique_values = get_sorted_unique(source_column_name)
                if len(source_unique_values) > 0:
                    categorical_result_list = source_unique_values
                break
            elif join_categorical_name != source_join_column_name:
                split_column_name_value = source_column_name
                if join_categorical_name in source_join_column_name :
                    split_column_name_value = source_column_name.split('_')[-1]
                
                #----------------------------------
                categorical_result = {}
                categorical_result["name"] = str(split_column_name_value)
                categorical_result["value"] = str(source_column_name) #---- special case card_tier sorting
                categorical_result_list.append(categorical_result)

    return categorical_result_list

In [366]:
get_categorical_value_from_sourcetest("rfm_segment")

[{'name': 'About To Sleep', 'value': 'About To Sleep'},
 {'name': 'At Risk', 'value': 'At Risk'},
 {'name': 'Champions', 'value': 'Champions'},
 {'name': 'Hibernating', 'value': 'Hibernating'},
 {'name': 'Lapsed', 'value': 'Lapsed'},
 {'name': 'Lost', 'value': 'Lost'},
 {'name': 'Loyal Customers', 'value': 'Loyal Customers'},
 {'name': 'Need Attention', 'value': 'Need Attention'},
 {'name': 'Potential Loyalist', 'value': 'Potential Loyalist'},
 {'name': 'Promising', 'value': 'Promising'},
 {'name': 'Recent Customers', 'value': 'Recent Customers'}]

In [342]:
"cardtierShopper".split('cardtier')[-1]

'Shopper'

In [336]:
"rfm_segment".split('_')[0]

'rfm'

In [287]:
customer_code

'feomall'

In [ ]:
def join_name(column_name):
    split_column_name = column_name.split("_")
    column_name = ("").join(split_column_name)
    return column_name

In [101]:
rfm_segment_value_list

array(['Lost', 'At Risk', "Don't Lose Them", 'Hibernating',
       'About To Sleep', 'Need Attention', 'Loyal Customers', 'Promising',
       'Potential Loyalist', 'Recent Customers', 'Champions'],
      dtype=object)

In [ ]:
rfm_segment_value_list

In [160]:
for card_tier in dfa_card_tier_sort:
    print(card_tier)

rowversion
autoid
membershiptype_autoid
code
name
addedby
addedon
modifiedby
modifiedon
deletedby
deletedon
deletedreason
tierrank
aimlrank
customercode

In [289]:
dfa_card_tier_sort["customercode"]

0          feomall
1          feomall
2    starbucks_old
3    starbucks_old
4    starbucks_old
5    starbucks_old
6    starbucks_old
7    starbucks_old
Name: customercode, dtype: object

In [321]:
def sorted_card_tier_mappertest(customer_code):
    domain_values = []
    cardtier_result_list =[]
    if customer_code in dfa_card_tier_sort["customercode"] :
        #print("detect : ",card_tier_sort_type)
        domain_list = dfa_card_tier_sort.loc[dfa_card_tier_sort["customercode"]==customer_code].drop_duplicates(subset='code').sort_values(by=['tierrank'])
        print("detect : ",card_tier_sort_type)
    else :
        print("no detect : ",customer_code)
    return cardtier_result_list

In [322]:
sorted_card_tier_mappertest(customer_code)

no detect :  feomall

[]

In [317]:
cd_list = dfa_card_tier_sort.loc[dfa_card_tier_sort["customercode"]==customer_code].drop_duplicates(subset='code').sort_values(by=['tierrank'])

In [324]:
cd_list

,rowversion,autoid,membershiptype_autoid,code,name,addedby,addedon,modifiedby,modifiedon,deletedby,deletedon,deletedreason,tierrank,aimlrank,customercode
0,2022-07-28 06:57:45.552,1,2,Shopper,Shopper,walter,2018-07-09 23:57:00.000,chong,2021-01-07 00:35:00.000,NaN,NaN,NaN,1.0,1.0,feomall
1,2022-07-28 06:57:45.552,2,2,Member,Member,walter,2018-07-09 23:57:00.000,chong,2021-01-07 00:35:00.000,NaN,NaN,NaN,2.0,2.0,feomall

In [ ]:
def cardtier_sort_mapping():
    
    
    
    
    return ""